<h1>This is the Video Index Page.</h1>

<%= button_tag "My video", class: "yt_button", list_position: "", yt_id: @vid.get_youtube_id("lmfao party"), now_playing: false, type: "button" %>

<div id="youtube_player">
	<div id="ytplayer_div"></div>
</div>