// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootstrap";

.ytplayer {
	margin-left: 0px;
}

body {
	margin: 0px 0px;
  //background-color: grey;
}

#headline{
  text-align: center;
  //display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#headline #title {
  display: inline;
}

#left_image {
  //float: left;
}

#right_image {
  float: right;
  //clear: left;
  //display: inline;
}

#buttons {
  //display: inline;
  //margin-right: 250px;
}

#title {
	text-align: center;
	font-family: "Times New Roman";
  //color: white;
}

/********Navbar*************/

#navbar_black {
  height: 30px;
  background-color: black;
  color: white;
}
#navbar_white {
  height: 30px;
  background-color: white;
  color: black;
}

#navbar_white a {
  float: right;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold; 
}

#navbar_white a:visited {
  color: black;
}

/***************************/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#dump {
  position: relative;
}

#ytplayer_div, #youtube_player {
  position: relative;
}

#lower {
  margin-top: 300px;
}  
