<div id="navbar_white">
	<%#= link_to	 'About', about_path %>
	<%= image_tag "globe_black_and_white.png", id: "left_image", height: "45", width: "45" %>
	<%= image_tag "globe_black_and_white.png", id: "right_image", height: "45", width: "45" %>
</div>